:root {
  --cor-principal: #333333;
  --cor-destaque: #8a2be2;
}

body {
  font-family: "Chakra Petch", sans-serif;
  color: var(--cor-principal);
  background-color: #ffffff;
  padding-bottom: 4rem;
}

.lead,
.btn-link {
  color: var(--cor-destaque);
  font-weight: 700;
}

a,
.btn-link:hover {
  color: var(--cor-principal);
}

a:hover {
  color: var(--cor-destaque);
}

footer {
  border-top: 1px solid #ccc;
  margin-top: 4rem;
}

footer i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: var(--cor-destaque);
}
